#main {
	display: block;
	margin-bottom: 10px;
	width: auto;
	height: 1000px;
}
li{
	font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C06C84;
    float:left; 
    margin-right: 20px;
    text-decoration:none;
    list-style:none; /* 去掉默认的列表符号 */
}
.list {
    border-width: 0px;
    margin:20px 120px 20px;
    padding: 0px 0px 30px 0px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(250, 145, 158, 1);
    border-radius: 0px;
}

div.a :hover, .active{
	background: #f76968;
	color:#fff;
	text-decoration:none;
	cursor: pointer; 
}
#ddd li:hover{
	border-width: 0px;
    margin:20px 120px 20px;
    padding: 0px 0px 30px 0px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(250, 145, 158, 1);
    border-radius: 0px;
}

.each_list {
	display: block;
	margin-left: 20px;
	margin-bottom: 20px
}
.theme {
	width: 80px;
}
hr {
	height:0px; 
	border-top:1px solid #C06C84;
	border-right:0px; 
	border-bottom:0px; 
	border-left:0px; 
	width:90%;
}
.list_left {
	width: 700px;
	margin: 0px 20px 0px 80px;
	float: left;
}
.list_title {
    color: #EC808D;
    font-size: 23px;
    line-height: 80px;
    text-decoration-line: none;
    font-weight:bold;
}
.activity_left {
	margin: 10px 5px 0px 30px;
}
.activity_item {
	border-color: #ADADAD;
	border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    
}
.activity_img {
	width: 100px;
	height: 100px;

}
.activity_item_left {
	float:left; width:120px; height:100px;
	margin: 15px 0px 15px 15px
}
.activity_item_right {
 width:580px; height:100px;
color: black;
}
.operation {
	float: right;
}
.operation_item {
	margin-right: 10px
}
.collection-items .collection-item {
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

.collection-items .collection-item img {
    width: 90px;
    height: 87px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

.collection-items .collection-item .activity-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-size: 15px;
    color: #333333;
    
}

.collection-items .collection-item .activity-info a {
    color: #333333;
    text-decoration-line: none;
}

.collection-items .collection-item .activity-options {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
}

.collection-items .collection-item .activity-options div {
    display: inline-block;
    margin-left: 20px;
}

.collection-items .collection-item .activity-options a {
    color: #94565D;
}

.collection-items .collection-item .activity-options div:hover {
    background-color: #EC808D;
}

.collection-items .collection-item .activity-options div:hover a {
    color: #FFFFFF;
}
.list_right {
	width: 340px;
	margin: 0px 20px 0px 20px;
	float: left;
}
.info_item_left {
	width: 250px;float: left;
}
.info_item_right {
	width: 250px;float: left;margin-bottom: 10px;
}
.activity_right {
	margin: 10px 5px 0px 0px;
}