.AllLeft {
    width: 833px;
    margin: px 20px 0px 80px;
    float: left;
    display: block;
    position: absolute;
    left: 285px;
    top: 127px;

}


.details {
    border-width: 1px;
    border-style: solid;

    width: 833px;


}

.ActivityDetailsUp {
    height: 200px;
    width: 833px;

}

.UpPic {
    height: 218px;
    width: 203px;
    float: left;
}

.UpText {
    width: 630px;
    height: 208px;
    float: left;
    font-size: 18px;
    margin-top: 10px;
}

.UpText button {
    width: 102px;
    height: 38px;
    background-color: white;

    border-style: outset;
    border-radius: 5px;
    color: black;
    float: left;
    margin-top: 10px;
}
}

.ActivityDetailsDown {
    width: 833px;
    font-size: 15px;
    margin-left: 10px;
}

.recommend_right {
    width: 340px;
    margin: 0px 20px 0px 20px;

    position: absolute;
    left: 1233px;
    top: 127px;
}


.ActivityDetailsUp img {
    border-width: 0px;
    margin: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 183px;
    height: 208px;
}

.comment button {
    width: 60px;
    height: 30px;
    background-color: rgba(250, 145, 158, 1);
    float: right;
    border-style: outset;
    border-radius: 8px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
}

.comment h1 {


    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 18px;
    color: #C7737D;


    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 20px;
    /*regular*/
}