.main-container {
    width: 1110px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.AllLeft {
    width: 780px;
    display: inline-block;
}

.details {
    border-width: 1px;
    border-style: solid;
}

.ActivityDetailsUp {
    height: 200px;
}

.UpPic {
    height: 218px;
    width: 203px;
    float: left;
}

.UpText {
    width: 570px;
    height: 208px;
    float: left;
    font-size: 18px;
    margin-top: 10px;
}

.UpText button {
    width: 120px;
    height: 38px;
    background-color: #e6e6e6;
    border-style: solid;
    border-color: #e6e6e6;
    border-radius: 5px;
    color: #111;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.UpText .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}

.UpText .button{
    font-size: 13px;
}

.UpText .button:hover{
    cursor: pointer;
}

.UpText a{
    color: #f76968;
    text-decoration: none;
}

.UpText a:visited{
    color: #f76968;
    text-decoration: none;
}

.ActivityDetailsDown {
    width: 760px;
    font-size: 15px;
    margin-left: 10px;
}

.recommend_right {
    width: 290px;
    margin: 0px 20px 0px 20px;
    float: right;
}

.ActivityDetailsUp img {
    border-width: 0px;
    margin: 5px;
    width: 183px;
    height: 208px;
}

.commentsection button {
    width: 60px;
    height: 30px;
    background-color: rgba(250, 145, 158, 1);
    float: right;
    border-style: outset;
    border-radius: 8px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
}

.commentsection h1 {
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 650;
    font-style: normal;
    font-size: 18px;
    color: #C7737D;
    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 20px;
    /*regular*/
}

.collection-items .collection-item .activity-info {
    width: 150px;
}

.collection-items .collection-item .activity-info div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comments {
    width: 780px;
    font-size: 12px;
}

.comment {
    width: 780px;
    height: 90px;
    border-width: 1px;
    border-style: solid;
}

.userinfo {
    width: 60px;
    height: 90px;
    float: left;
}

.touxiang {
    width: 60px;
    height: 60px;
}

.touxiang img {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user_name {
    width: 60px;
    height: 30px;
    text-align: center;
}

.message {
    width: 712px;
    height: 83px;
    float: left;
    margin: 3px 3px 3px 3px;
}