.main-container {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.label1{
    position: absolute;
    left: 720px;
    top: 119px;
    width: 195px;
    height: 49px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
}
.label1 span{
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #C7737D;
    text-align: center;
}
.r-p-box{
    position: absolute;
    left: 517px;
    top: 160px;
    width: 475px;
    height: 395px;
    background: inherit;
    background-color: rgba(255, 219, 197, 0);
}
.r-p-item{
    position: absolute;
    width: 300px;
    height: 53px;
    display: flex;
}
.r-p-item span{
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #C06C84;
}

.r-p-item input{
    width: 250px;
    height: 20px;
    padding: 3px 2px 3px 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: normal;
    color: #000000;
    text-align: left;
    text-transform: none;
    background-color:#ffffff;
    border-color: #C06C84;
    border-width: 1px;
}
.item01-label{
    left: 80px;
    top: 40px;
}
.item01-input{
    left: 200px;
    top: 40px;
}
.item02-label{
    left: 80px;
    top: 85px;
}
.item02-input{
    left: 200px;
    top: 85px;
}
.r-p-btn{
    position: absolute;
    width: 120px;
    height: 46px;
    background-color: rgba(93, 117, 153, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    text-align: center;

}
.btn01{
    left: 150px;
    top: 150px;
    vertical-align: center;

}
.btn02{
    left: 300px;
    top: 150px;
}
.r-p-btn a{
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #F2F2F2;
    text-decoration: none;
    vertical-align: center;

}